# To be ignored by git

*~
bin
out
obj
doxygen
nohup.*
*.bak
*.log
*.autosave
*.swp
*.o
*.obj
*.a
*.lib
*.dll
*.exe
*.so*
*Makefile
*makefile
*.pro.user
template
build*/
tests/*test
app/macronsole

include/rapidxml/*
